<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Site is Down for Maintenance</h1>
        <p>
            Be back soon :)
        </p>
    </body>
</html>